// Colors
$white: #ffffff;
$black: #000000;
$body-bg-color: darken($white, 5%);
// Font
$font-size-base: 18px !default;
$font-sans-serif: 'Lato', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times', serif;
